//styling for the images

.logo{
	float: right;
	margin-top: 0.2%;
}

.isabel{
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
}

.stormThumbnail{
	margin-top: 2%;
	margin-left: 10%;
	border: 4px outset black;
}

.imgPressed{
	border: 4px inset black;
	border-bottom: 1px solid black;
}

.imgOver{
  border: 4px outset grey;
}

.galv{
	margin-left: 2%;
}

.labor{
	margin-left: 2%
}

#andrew2{
	margin-left: 87%;
}

.titletitle{
	margin: auto;
	padding-top: 20px;
}

.titleimage{
	margin: auto;
	padding-top: 20px;
}

.arrow{
	padding-left: 10px;
}